body{
    margin: 0;
    padding: 0;
    background-color: #000;
    position: absolute;
    top: calc(50% - 130px);
    left: calc(50% - 120px);
}
main{
    font-family: 'Open Sans', sans-serif;
    color: #fff;    
}
section{
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}
h3{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
hr{
    font-size: 20px;
    margin-bottom: 20px;
}
#logo{
    margin-left: auto;
    margin-right: auto;
}
img[alt="Kasper template logo"]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
img[alt="Kasper template logo"]:hover{
    border-bottom: 1px solid #00C7FC;
}
div {
    display: inline-block;
    padding: 0 12px;
}
div a:hover{
    border-bottom: 1px solid #00C7FC;
}
footer{
    margin-top: 90px;
    color: #fff;
    text-align: center;
}
footer span{
    color: #00C7FC;
}

